Q1

1  for loop is use when we know that how many times our loop will itearate

2  while loop is used when we know don't know how many iteration happen,but we have place some condition to initialise while loop.

In [2]:
for i in range(1,6):
    print(i)
    
n = 0 
while n <= 10:
    print(n,end = ' ')
    n = n+1

1
2
3
4
5
0 1 2 3 4 5 6 7 8 9 10

Q2

In [2]:
num  = 10
sum = 0
product = 1
for i in range(1,num+1):
    sum = sum + i
    product = product * (i+1)
    print(sum,end="   ")
    print(product)

1   2
3   6
6   24
10   120
15   720
21   5040
28   40320
36   362880
45   3628800
55   39916800

In [3]:
n = 10
counter = 1
sum = 0
product = 1
while counter <= n:
    sum = counter  + sum
    product = product * (counter + 1)
    print(sum,end="   ")
    print(product)
    counter = counter + 1

1   2
3   6
6   24
10   120
15   720
21   5040
28   40320
36   362880
45   3628800
55   39916800

In [22]:
units = int(input("Enter the units"))

if units <=100:
    print("Your household bill is",units*4.5)
elif units >= 101 and units <= 200:
    print("Your household bill is",units*6)
elif units >=201 and units <=300:
    print("Your household bill is",units*10)
else:
    print("Your household bill is",units*20)

Enter the units 310

Your household bill is 6200

Q4

In [20]:
l =range(1,101)
l1 =[]
for i in l:
    cube = i**3
    if cube%4 ==0 or cube%5 == 0:
        l1.append(i)

In [21]:
print(l1,end=' ')

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5

In [25]:
string = "I want to become a data scientist"
vowels = 0
for i in string:
    if (i=='a'or i=='e'or i=='i'or i=='o' or i=='u'):
        vowels +=1
print("No of vowels in string are",vowels)

No of vowels in string are 11